.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url('/src/paginas/login/HD-wallpaper-beyonce-knowles-59th-grammy-awards.jpg');
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: contain;
     background-position: center;
     background-color: black;
 }

.text-decorator-none{
    text-decoration: none;
}