.caixa {
  background-color: #0a0a0a;
  width: 500px;
  height: 500px;
  background-image: url(/src/paginas/home/desktop-wallpaper-beyonce-2020-beyonce-lemonade333.jpg);
  background-size: cover;
  background-position: center top;
  margin: 0;
}

.titulo{
 color: white !important;
 font-weight: bold !important;
}

.botao{
  border-color: white !important;
  background-color: #3F51B5;
  color: white !important;
}

.postagens{
  background-color: white;
}

.text-decorator-none{
  text-decoration: none;
}